<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>
<body>
    <div class="main-content">
  {{>header}}
  <p>This site was created with NodeJs and multiple APIs. It uses geolocation data from Mapbox and weather data from weatherstack. Here are the links for <a href="https://www.mapbox.com">mapbox.com</a> & <a href="https://weatherstack.com/">weatherstack.com</a></p>
    </div>
  
    {{>footer}}
</body>
</html>